<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vlans</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Direcciones IP vlan th:</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
a {
color:white;

}
</style>
</head>
<body>

<div class="container">
<h1>Lista de Vlan</h1>
<table class="table table-hover ">
    <tr>
        <th>Nombre</th>
        <th>ID</th>
        <th>Direccionamiento</th>
        <th>Listar IP's</th>
        <th>Editar Vlan</th>

    </tr>
    <tr th:each="ipaddress:${ipList}">
        <td th:text="${ipaddress.vlanName}"></td>
        <td th:text="${ipaddress.vlanId}"></td>
        <td th:text="${ipaddress.networkAddress}"></td>
        <td><button type="button"  class="btn btn-info " ><a th:href="@{/listip/{id}(id=${vlan.id})}" class="text-decoration-none">Listar IPS</a> </button></td>
        <td><button type="button" class="btn btn-warning"><a th:href="@{/updatevlan/{id}(id=${vlan.id})}">Editar</a></button></td>

    </tr>
</table>

    <a href="/addvlans">
        <button type="button" class=" btn btn-primary">Agregar vlans</button>
    </a>


</div>


</body>
</html>

</body>
</html>